@charset "UTF-8";
.global{
	width: 75%;
	margin:0 auto;
	background-color: #C5E9F3; 
}
.content_menu{
	width: 20%;
	background-color: #C5E9F3;
	float: left;
}
.content_body{
	width: 80%;
	background-color: white;
	float: right; 
}
.floor{
	clear: both;
	height: 100px;
	background-color: #8080FF;
}